/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 3, 2017, 6:21:38 PM
    Author     : Melnikov
*/
body{
    width:900px;
    margin: 0 auto;
    background: #ccc;
}
